@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}
